PORT=4007
NODE_ENV=development

DB_HOST=orders-db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=ordersdb

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=orders_queue
RMQ_EVENTS_QUEUE_ORDERS=events.orders

REDIS_HOST=redis
REDIS_PORT=6379